
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Local dev files
*.sqlite3

# Python
*.pyc

# Celery
# celerybeat-schedule
# celerybeat.pid

# geckodriver
geckodriver.log
