container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_createsu:
    command: "django-admin.py createsu"
    leader_only: true
  03_collectstatic:
    command: "django-admin.py collectstatic --noinput"
  04_launch_celery_worker:
    command: "celery -A fitjeb worker"
    leader_only: true
  05_launch_celery_beat:
    command: "celery -A fitjeb beat"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: fitjeb.settings.prod
