option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: fitjeb.settings.prod
  aws:elasticbeanstalk:container:python:
    WSGIPath: fitjeb/wsgi.py

packages:
  yum:  
    git: []
    postgresql93-devel: []
    libjpeg-turbo-devel: []
    libcurl-devel: []
    python34-devel: []

sources:  
  /tmp/: https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.1.1-linux-x86_64.tar.bz2

container_commands:
  05_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  06_createsu:
    command: "django-admin.py createsu"
    leader_only: true
  07_collectstatic:
    command: "django-admin.py collectstatic --noinput"
  08_install_pycurl:
    command: '/opt/python/run/venv/bin/pip3 install pycurl --global-option="--with-nss" --upgrade'
    leader_only: true
  09_install_phantomjs:
    command: 'sudo mv /tmp/phantomjs-2.1.1-linux-x86_64/bin/phantomjs /opt/python/run/venv/bin/'
    leader_only: true
  10_celery_tasks:
    command: "cat .ebextensions/files/celery_configuration.txt > /opt/elasticbeanstalk/hooks/appdeploy/post/run_supervised_celeryd.sh && chmod 744 /opt/elasticbeanstalk/hooks/appdeploy/post/run_supervised_celeryd.sh"
    leader_only: true
