option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: fitjeb.settings.prod
  aws:elasticbeanstalk:container:python:
    WSGIPath: fitjeb/wsgi.py

packages:
  yum:  
    git: []
    postgresql93-devel: []
    libjpeg-turbo-devel: []
    libcurl-devel: []
    python34-devel: []

container_commands:
  05_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  06_createsu:
    command: "django-admin.py createsu"
    leader_only: true
  07_collectstatic:
    command: "django-admin.py collectstatic --noinput"

