{% extends "./base.html" %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>About</h1>
        <p class="lead">The main website has a very active community, but the results in the comments aren't captured anywhere. Fit-j.com is a hobby so please be patient if something doesn't work quite right. Give your thoughts and feedback by leaving a note!</p>
    </div> <!-- jumbotron -->
</div>
{% endblock content %}
