{% extends "./base.html" %}
{% load static %}

{% block title %}Workout Benchmark Index{% endblock title %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>WOD Benchmarks</h1>
        <p class="lead">Results from people who completed the main site WOD</p>
    </div>

    <div class="row marketing">
        {% for workout in workout_list %}
        <div class="col-md-6 sleeve">
            <div class="card theme-one">
            <h4><a href="/wods/{{ workout.id }}/">{{ workout.title }}</a></h4>
            <p>{{ workout.description|truncatewords:20 }}</p>    
            </div>
        </div>
        {% empty %}
        <div class="col-md-12">
            <div class="theme-two">
            <h4>The workouts are populating. Please come back later.</h4>
            </div>
        </div>
        {% endfor %}
    </div>

    <div>
    {% if is_paginated %}
        <ul class="pagination">
            {% if workout.has_previous %}
                <li><a href="?page={{ workout.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if workout.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if workout.has_next %}
                <li><a href="?page={{ workout.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
    </div>
</div>
{% endblock content %}
