{% extends "./base.html" %}
{% load static %}

{% block title %}Workout Benchmark Index{% endblock title %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>WOD Benchmarks</h1>
        <p class="lead">Results from people who completed the main site WOD</p>
    </div>

    <div class="row marketing">
        {% for workout in workout_list %}
        <div class="col-md-6 sleeve">
            <div class="card theme-one">
            <h4><a href="/wods/{{ workout.id }}/">{{ workout.title }}</a></h4>
            <p>{{ workout.description|truncatewords:20 }}</p>    
            </div>
        </div>
        {% empty %}
        <div class="col-md-12">
            <div class="theme-two">
            <h4>The workouts are populating. Please come back later.</h4>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
