{% extends "./base.html" %}
{% load static %}

{% block title %}{{ workout.title }}{% endblock title %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>{{ workout.title }}</h1>
    </div>

    <div class="row marketing">
        <div class="col-md-8">
            <div class="wod-benchmark">
                <table class="table table-hover theme-one">
                    <caption>Benchmark based on {{ workout.uom }}</caption> 
                    <thead> 
                        <tr> 
                            <th></th> 
                            <th>Min</th> 
                            <th>Avg</th> 
                            <th>Max</th>
                        </tr> 
                    </thead> 
                    <tbody>
                        {% for gender in benchmark_list %}
                        <tr>
                            <th scope="row">Rx'd {{ gender.gender }}</th> 
                            <td>{{ gender.min_score }}</td> 
                            <td>{{ gender.avg_score }}</td> 
                            <td>{{ gender.max_score }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="wod-description theme-one">
                <p class="">{{ workout.description|linebreaks }}</p>
                <a href="{{ workout.link }}">Original post</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
